doctype html

html (lang="en")
	head
		title = About Me
		link(rel='stylesheet', type = 'text/css', href='janeparkwebpage.css')
		body
			h1 Pug - Jane Park

			p.

		img IMG_2351.JPG

		h2 Pug - Bio

		blockquote
			Hi there, thanks for visiting my page. My name is Jane Park.
			These are some of my favorite things: Comedy, Cooking and Coding.
			If you abbreviate that, it would be CCC, which can also mean Chocolate Chip Cookies -- which I also love!
			Follow me on my ever changing path that lead me to where I am. Happy Coding!


			// app.get("/janepark", function(req, res) {
			// 	console.log("Jane Park Homepage");
			// 	res.render("janepark");
			// });
