<!DOCTYPE html>
<html>
<head>
  <title>Funny Women Comedians Image Gallery</title>

  <meta name="viewport"
    content="width=device-width,
    initial-scale=1">
  <link rel="stylesheet"
    type="text/css"
    href="album.css"/>
  <link rel="stylesheet"
    type="text/css"
    href="resets.css"/>
</head>

<body>
  <div id="gallery1" class="gallery-image"></div>
  <div id="gallery2" class="gallery-image"></div>
  <div id="gallery3" class="gallery-image"></div>
</body>
</html>
