
  <h1>Jane Park</h1>
<p>
  <img src="IMG_2351.JPG">
</p>

<h2>Bio</h2>

<blockquote>Hello, I'm Jane. Some of my favorite things are comedy, cooking, and coding.
Follow me on my ever changing path that lead me to where I am.</blockquote>
