<!DOCTYPE HTML>

<html>
	<head>
			<title>Welcome to Jane's Page - </title>
			<link rel="stylesheet" type="text/css" href="/css/reset.css" />
			<link rel="stylesheet" type="text/css" href="/css/janepark.css" />

	</head>
	<body>
			<div class="template">
				<a href="/" class="template-header">
					<h1>Welcome to Jane's Page</h1>
				</a>
				<p>
					<ul>
						<li> <a href="http://www.github.com/janepark7">Github<li></a>
						<li> <a href="https://www.linkedin.com/in/jane-park-7aa208132/">My Linkedin</li></a>
					</ul>

				<main class="template-main">
					<%- include(page, data) %>

				</main>

				<footer class="template-footer">Jane Park 2017</footer>
			<div>
			</body>
			</html>
